.gray-color {
    color: #888;
    font-size: 16px;
    font-weight: 500;
}
.link-email {
    margin-bottom: 20px;
    display: block;
}
.sub-page {
    background: transparent;
}
.form-error {
    color: red;
    font-size: 14px;
}