<div class="sub-header about-psl-bg align-items-center">
    <div class="container">
        <div class="sub-header-content">
            <h2>Pakistan<br>Sign Language</h2>
            <p>The native language of Pakistan’s Deaf community is Pakistan Sign Language (PSL).</p>
        </div>
    </div>
</div>

<div class="sub-page">

    <div class="container">
        <div class="row set-margin-sec">
            <div class="col-lg-6 col-md-12 d-flex align-items-center">
                <div>
                    <h2>ABOUT <span>PSL</span></h2>
                    <p>The native language of Pakistan’s Deaf community is Pakistan Sign Language (PSL). Similar
                        to spoken languages, PSL has a variety of dialects in different regions of the country.
                        While many common words are shared, some will be regional-specific. Deaf educators and
                        elders nationwide have reviewed our PSL Dictionary, and we will continue to update words
                        and signs in order to fully document PSL usage nationwide.</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 img-set-md"><img class="img-auto" src="../../../assets/images/about-psl.jpg" alt="">
            </div>
        </div>

        <div class="row set-margin-sec">
            <div class="col-lg-12 text-center">
                <div>
                    <h2>The <span>PSL</span> Resource Development Team</h2>
                    <p>The PSL resource development team is comprised of educators, teachers, PSL sign
                        developers, curriculum designers, animators and production experts who have collaborated
                        to create a rich source of learning resources and training materials. The development
                        team includes well respected leaders of the Deaf community and interpreters.</p>
                </div>
            </div>
            <div class="col-lg-12"><img class="img-auto" src="../../../assets/images/about-psl-02.jpg" alt=""></div>
        </div>

        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>AWARDS FOR <span>PSL</span></h2>
            </div>
            <div class="col-md-6"><img class="img-auto" src="../../../assets/images/awards-01.jpg" alt="">
                <h4>Winner Of Wise Awards 2018</h4>
            </div>
            <div class="col-md-6"><img class="img-auto" src="../../../assets/images/awards-02.jpg" alt="">
                <h4>Winner Of P@SHA Award 2014</h4>
            </div>
        </div>

    </div>

</div>

<div class="psl-resources">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 md-mb-20 img-set-md"><img class="img-auto" src="../../../assets/images/psl-resources.png"
                    alt=""></div>
            <div class="col-lg-6 col-md-12 d-flex align-items-center">
                <div>
                    <h2 class="none-before"><span>PSL</span> RESOURCES</h2>
                    <ul class="list-style">
                        <li>The PSL Phone App with 5,000 Signs available in both Android and iOS.</li>
                        <li>1,000 Basic Signs in 7 languages: English, Urdu, Punjabi, Sindhi, Pashto, Balochi,
                            and PSL.</li>
                        <li>PSL Learning Unit, a mini computer mounted on 22” HDMI Monitor with built in
                            speakers,keyboard, mouse. Contents include: 7,000 Word PSL Dictionary, PSL Animated
                            Stories, Teacher Training Tutorials, Primary Level Tutorials, The IQRA Literacy
                            Program, and more.</li>
                    </ul>
                    <p>To download your copy of the phone app and order your PSL 1000 Basic Signs book or the
                        PSL Learning Unit visit <a href="www.psl.org.pk/resources"
                            target="_blank">www.psl.org.pk/resources</a></p>
                </div>
            </div>
        </div>
    </div>
</div>