<div [hidden]="isLoading" class="sub-page">

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>PSL <span>PARTNERS</span></h2>
                <p>For long-term relationships to particular projects, leading brands, enterpreneurs to
                    individuals and foreign missions, relationships with our donor are our most valuable assets.
                    We're humbled and to have partners who are as excited about taking this cause forward as we
                    are. Here we wish to acknowledge their support towards our cause and show our gratitude
                    towards their support.</p>
            </div>
        </div>

        <div class="row justify-content-md-center">
            <div class="col-lg-3 col-md-4 col-6">
                <div class="partners">
                    <img src="/assets/images/pso-logo.png" alt="">
                    <h3>Pakistan State Oil</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <div class="partners">
                    <img src="/assets/images/ppaf-logo.png" alt="">
                    <h3>P P A F</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <div class="partners">
                    <img src="/assets/images/ideas-logo.png" alt="">
                    <h3>I D E A S</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <div class="partners">
                    <img src="/assets/images/netHope-logo.png" alt="">
                    <h3>NETHOPE</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <div class="partners">
                    <img src="/assets/images/danpak.png" alt="">
                    <h3>Danpak</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <div class="partners">
                    <img src="/assets/images/uk-aid.png" alt="">
                    <h3>UKaid</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <div class="partners">
                    <img src="/assets/images/khaki-foundation.png" alt="">
                    <h3>Khaki Foundation</h3>
                </div>
            </div>

        </div>
    </div>
</div>

<div *ngIf="isLoading" class="loader-wrap">
    <div class="main-loader">
        <img src="/assets/images/loader.gif" alt="">
    </div>
</div>
