<div class="container">
    <div class="row content-title">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <a *ngIf="hasSubjectId" (click)="backToClass()" class="text-link"><i class="fas fa-chevron-left"></i>Back to Class</a>
            <h2>Learning <span>Tutorial</span></h2>
        </div>
        <!-- <div class="col-lg-6 col-md-6 col-sm-12 d-none d-md-block">
            <ol class="breadcrumb">
                <li><a href="#"><span>{{categoryName}} </span></a></li>
                <li><span>Airport</span></li>
            </ol>
        </div> -->
    </div>

    <div class="row">
        <div class="col-lg-3 col-md-4">

            <div class="select-dictionary d-block d-md-none">
                <select *ngIf="!isLoading" class="custom-select" id="inputGroupSelect02" (change)="goToGrade($event.target.value)" style="font-size: 13px !important;">
                    <option selected disabled>Select Tutorial</option>
                    <option *ngFor="let tutorial of genericService.learningTutorial$ | async"
                        [value]="tutorial.id">
                        {{tutorial.grade}}
                    </option>
                </select>
                <div *ngIf="isLoading" class="shine effect-sm-left"></div>
            </div>

            <div *ngIf="!isLoading" class="leftside-list d-none d-md-block">
                <h3>Class <span>List</span></h3>
                <ng-scrollbar class="leftside-overflow" thumbClass="white-scrollbars" disabled="false">
                    <cdk-virtual-scroll-viewport scrollViewport>
                        <ul>
                            <li *ngFor="let tutorial of genericService.learningTutorial$ | async">
                                <a [routerLink]="['/learningTutorials', tutorial.id]"
                                    routerLinkActive="active">{{tutorial.grade}}</a>
                            </li>
                        </ul>
                    </cdk-virtual-scroll-viewport>
                </ng-scrollbar>
            </div>
            <div *ngIf="isLoading" class="leftside-list d-none d-md-block" style="box-shadow: none">		
                <div class="shine effect-sm-left"></div>
                <div class="shine effect-sm-left"></div>
                <div class="shine effect-sm-left"></div>	
                <div class="shine effect-sm-left"></div>
                <div class="shine effect-sm-left"></div>
                <div class="shine effect-sm-left"></div>
                <div class="shine effect-sm-left"></div>
                <div class="shine effect-sm-left"></div>
                <div class="shine effect-sm-left"></div>	
                <div class="shine effect-sm-left"></div>
            </div>

        </div>

        <div class="col-lg-9 col-md-8">

            <router-outlet></router-outlet>
            <!-- </div> -->

        </div>

    </div>

</div>