
.text-link {
    color: #7a7a7a;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    padding-bottom: 20px;
    display: block;
}
.text-link i {
    color: #009e4f;
    margin-right: 10px;
}
.text-link:hover {
    color: #009e4f;
}
@media (max-width: 1024px) {
    .text-link {
        font-size: 13px;
    }
}
@media (max-width: 767px) {
    .text-link {
        letter-spacing: normal;
    }
}