<div [hidden]="isLoading" class="content-wrapper pb-0">

    <div class="sub-page">

        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>TESTIMONIALS <span></span></h2>
                    <p>From development, to ongoing support, we work closely with Iikeminded 8. ever supportive
                        people and form great bonds. Our success relies greatly on word-of-mouth referrals.</p>
                    <p>Please read what some of them had to say for our programs and projects.</p>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="testimonial">
                        <div class="testimonial-text">
                            <img src="../../../assets/images/inverted-commas.svg" alt="">
                            <p>I am thrilled with PSL Learning Units I want to change things in Special Education,
                                let me know anything you want to do, and I will help you to implement it, or if you
                                have any suggestions for changes/improvements.</p>
                        </div>
                        <div class="user-info">
                            <img src="../../../assets/images/avatar.svg" alt="">
                            <h5>Ms. Afsha Imtiaz</h5>
                            <p>Director General Special Education Punjab Lahore, Pakistan</p>
                        </div>
                    </div>

                    <div class="testimonial tr">
                        <div class="testimonial-text">
                            <img src="../../../assets/images/inverted-commas.svg" alt="">
                            <p>We are proud to be a part of this first of its kind solution for countering lack of
                                quality content for Deaf education and we fully support this project.</p>
                        </div>
                        <div class="user-info">
                            <img src="../../../assets/images/avatar.svg" alt="">
                            <h5>Ahsan Ali Mangi</h5>
                            <p>Secretary Special Education Sindh, Pakistan</p>
                        </div>
                    </div>

                    <div class="testimonial">
                        <div class="testimonial-text">
                            <img src="../../../assets/images/inverted-commas.svg" alt="">
                            <p>I haven’t seen such a unique approach to special education and I believe it will
                                create miracles. I and PWTD is at your disposal and we will try to help as much as
                                we can in this noble cause.</p>
                        </div>
                        <div class="user-info">
                            <img src="../../../assets/images/avatar.svg" alt="">
                            <h5>Dr. Izhar Hashmi</h5>
                            <p>Director Program, Punjab Welfare Trust for the Disabled Pakistan</p>
                        </div>
                    </div>

                    <div class="testimonial tr">
                        <div class="testimonial-text">
                            <img src="../../../assets/images/inverted-commas.svg" alt="">
                            <p>I am particularly touched by the perseverance with which FESF has succeeded in
                                setting up world class educational services for deaf children in my country.The PSL
                                Learning Resources are a unique and pioneering contribution which will serve to
                                enrich the lives of many deaf children and their families.It will also enable non-
                                deaf people like me to learn the language and be able to communicate with the Deaf
                                Community.The website, phone app and book open up a whole new range of
                                possibilities.I congratulate the FESF leadership and wish it all the success.I also
                                look forward to a productive interaction between FESF and the University of the
                                Punjab.</p>
                        </div>
                        <div class="user-info">
                            <img src="../../../assets/images/avatar.svg" alt="">
                            <h5>Dr. Mujahid Kamran</h5>
                            <p>Vice Chancellor, Univerity of the Punjab Lahore, Pakistan</p>
                        </div>
                    </div>

                    <div class="testimonial">
                        <div class="testimonial-text">
                            <img src="../../../assets/images/inverted-commas.svg" alt="">
                            <p>As President of Gallaudet University, I take genuine interest in the Deaf Reach
                                Program that has produced a free online PSL Lexicon geared towards deaf and hard of
                                hearing children and adults. It will benefit their families, those who work in deaf
                                education, as well as employers and the community at large. I applaud the Pakistani
                                Deaf Community for its ingenuity and initiative in developing this informative and
                                resourceful lexicon that will enhance the quality of life for deaf and hard of
                                hearing people in Pakistan.</p>
                        </div>
                        <div class="user-info">
                            <img src="../../../assets/images/avatar.svg" alt="">
                            <h5>T. Alan Hurwitz</h5>
                            <p>President, Gallaudet University Washington D.C. - USA</p>
                        </div>
                    </div>

                    <div class="testimonial tr">
                        <div class="testimonial-text">
                            <img src="../../../assets/images/inverted-commas.svg" alt="">
                            <p>I am thrilled to witness the birth of this fascinating initiative. The energy behind
                                the creation of the Pakistani Sign Language Digital Resources is so contagious. I am
                                impressed by the efficiency, productivity and the overall approach. This project
                                will definitely be a landmark in the history of deaf education in Pakistan, as well
                                as an influence on Deaf Culture in the region. Well done to an amazing team!</p>
                        </div>
                        <div class="user-info">
                            <img src="../../../assets/images/avatar.svg" alt="">
                            <h5>Bedour al Raqbani</h5>
                            <p>Director, Kalimati Language Center Dubai - UAE</p>
                        </div>
                    </div>

                    <div class="testimonial">
                        <div class="testimonial-text">
                            <img src="../../../assets/images/inverted-commas.svg" alt="">
                            <p>This multi-lingual Sign Language dictionary in both Urdu and English is a wonderful
                                achievement. Together with the complementary applications of Website, DVDs, Phone
                                App and other local languages this is a tremendously rich resource.</p>
                        </div>
                        <div class="user-info">
                            <img src="../../../assets/images/avatar.svg" alt="">
                            <h5>Andrew de Carpentier</h5>
                            <p>Director, HLID Institute Salt - Jordan</p>
                        </div>
                    </div>

                    <div class="testimonial tr">
                        <div class="testimonial-text">
                            <img src="../../../assets/images/inverted-commas.svg" alt="">
                            <p>The PSL Digital Resources website is one of the most important new developments in
                                the education and enrichment of Pakistani Deaf people in the past 100 years. It
                                defines a common language that can be used by teachers, interpreters, and
                                health-related professionals who serve the Deaf. This unique resource is a model for
                                others seeking to educate and enhance the lives of their own deaf citizens in the
                                future.</p>
                        </div>
                        <div class="user-info">
                            <img src="../../../assets/images/avatar.svg" alt="">
                            <h5>Dr. Thomas Raco</h5>
                            <p>NTID, Rochester Institute of Technology New York - USA</p>
                        </div>
                    </div>

                    <div class="testimonial">
                        <div class="testimonial-text">
                            <img src="../../../assets/images/inverted-commas.svg" alt="">
                            <p>The Deaf Reach Program is a model in the field of deaf education. The PSL Digital
                                Resources opens the doors for the Deaf community to information, literature and
                                knowledge.You have our support and congratulations on this great achievement!</p>
                        </div>
                        <div class="user-info">
                            <img src="../../../assets/images/avatar.svg" alt="">
                            <h5>Silvana Veinberg</h5>
                            <p>Executive Director, Canales Creciendo en Señas Argentina – South America</p>
                        </div>
                    </div>


                    <div class="testimonial tr">
                        <div class="testimonial-text">
                            <img src="../../../assets/images/inverted-commas.svg" alt="">
                            <p>The Canadian Hearing Society commends FESF on the launch of its newly created PSL
                                Digital Resources. A first of its kind in the region, and provides a much-needed
                                tool for Deaf students and their families, and those involved in Deaf education</p>
                        </div>
                        <div class="user-info">
                            <img src="../../../assets/images/avatar.svg" alt="">
                            <h5>Stephanis Greef</h5>
                            <p>Interim President & CEO Canadian Hearing Society</p>
                        </div>
                    </div>

                    <div class="testimonial">
                        <div class="testimonial-text">
                            <img src="../../../assets/images/inverted-commas.svg" alt="">
                            <p>The free, easy to access and fun PSL materials are excellent as a resource for
                                teachers, families, and community members. This innovative technology fosters
                                development of bilingual deaf children who have increased access to their world and
                                can grow more fully intellectually, cognitively, and emotionally. Really impressive!
                            </p>
                        </div>
                        <div class="user-info">
                            <img src="../../../assets/images/avatar.svg" alt="">
                            <h5>Professor Amy T. Wilson,</h5>
                            <p>Director Int’l Development, Gallaudet University Washington D.C. - USA</p>
                        </div>
                    </div>

                    <div class="testimonial tr">
                        <div class="testimonial-text">
                            <img src="../../../assets/images/inverted-commas.svg" alt="">
                            <p>An amazing resource. Extremely comprehensive, excellent production values, and easy
                                to use. This is a culturally sensitive, multi-language tool. Signs are presented in
                                beautiful video by a variety of signers, and are accompanied by both spoken and
                                written English, spoken and written Urdu, and graphics illustrating the meaning.</p>
                        </div>
                        <div class="user-info">
                            <img src="../../../assets/images/avatar.svg" alt="">
                            <h5>Geoffrey S. Poor</h5>
                            <p>Project Director ASL Video Dictionary, NTID, Rochester Institute of Technology New
                                York - USA</p>
                        </div>
                    </div>

                    <div class="testimonial">
                        <div class="testimonial-text">
                            <img src="../../../assets/images/inverted-commas.svg" alt="">
                            <p>Kudos to FESF for developing this PSL Lexicon - especially having it available online
                                and via mobile devices. You are providing language and communication access as well
                                as sign language awareness to everyone throughout your country and worldwide!
                                Congratulations and as always we look forward to finding ways where we can work
                                together!</p>
                        </div>
                        <div class="user-info">
                            <img src="../../../assets/images/avatar.svg" alt="">
                            <h5>Jeffrey S. Bravin,</h5>
                            <p>Executive Director, American School for the Deaf Connecticut - USA</p>
                        </div>
                    </div>

                    <div class="testimonial tr">
                        <div class="testimonial-text">
                            <img src="../../../assets/images/inverted-commas.svg" alt="">
                            <p>I LOVE the website - what a wonderful resource! Clean, crisp, easy to navigate, FAQ
                                useful answers, ordering DVD, books, or app sounds great. Sent a test email - it
                                went through. Quality of video images - excellent. Well done and congratulations!
                            </p>
                        </div>
                        <div class="user-info">
                            <img src="../../../assets/images/avatar.svg" alt="">
                            <h5>Debra Russel</h5>
                            <p>President World Association of Sign Language Interpreters</p>
                        </div>
                    </div>

                    <div class="testimonial">
                        <div class="testimonial-text">
                            <img src="../../../assets/images/inverted-commas.svg" alt="">
                            <p>This is an excellent website! I would like to use it as a model of what can be done,
                                and see how we can help to build capacity for organizations working with the deaf in
                                other developing countries.</p>
                        </div>
                        <div class="user-info">
                            <img src="../../../assets/images/avatar.svg" alt="">
                            <h5>Dr. Joseph Murray</h5>
                            <p>President, World Federation of the Deaf Finland</p>
                        </div>
                    </div>

                    <div class="testimonial tr">
                        <div class="testimonial-text">
                            <img src="../../../assets/images/inverted-commas.svg" alt="">
                            <p>We have been learning PSL for four years now so that we can communicate better with
                                our deaf daughter. It is wonderful that now the PSL video is being shown in our
                                weekly classes. The repetition and practice helps us to learn better and remember
                                the signs. Already we are able to have meaningful discussions with our daughter. We
                                work as tailors from our home. It was difficult teaching our daughter, but now we
                                know the signs to help her stitch with us. We hope the video will be made available
                                for our home so we can practice more often.</p>
                        </div>
                        <div class="user-info">
                            <img src="../../../assets/images/avatar.svg" alt="">
                            <h5>Ghulam Mustafa,</h5>
                            <p>Father of Fatima 19 year old student at Deaf Reach</p>
                        </div>
                    </div>

                    <div class="testimonial">
                        <div class="testimonial-text">
                            <img src="../../../assets/images/inverted-commas.svg" alt="">
                            <p>We watch the PSL video everyday with our teacher. It helps me learn three languages,
                                because it is written in Urdu and English. The pictures help me to remember the
                                spelling and now I am getting better grades. My parents are very excited about how
                                fast I am learning, and I know that they are proud of me.</p>
                        </div>
                        <div class="user-info">
                            <img src="../../../assets/images/avatar.svg" alt="">
                            <h5>Zeeshan</h5>
                            <p></p>
                        </div>
                    </div>

                    <div class="testimonial tr">
                        <div class="testimonial-text">
                            <img src="../../../assets/images/inverted-commas.svg" alt="">
                            <p>The PSL video is very, very useful in the KG class where I teach. The children are
                                pay good attention to the video. I have noticed that the signs they learn from the
                                PSL video are the ones that they use more and more in everyday language. It is very
                                simple for them to remember because they practice the signs every day by watching
                                the video. I think the videos are a very effective way to improve my students’
                                vocabulary and help them to express themselves confidently and clearly.</p>
                        </div>
                        <div class="user-info">
                            <img src="../../../assets/images/avatar.svg" alt="">
                            <h5>Riffat,</h5>
                            <p>Teacher of the Deaf and mother of four deaf children studying at Deaf Reach</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="isLoading" class="loader-wrap">
    <div class="main-loader">
        <img src="/assets/images/loader.gif" alt="">
    </div>
</div>
