<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content top-border">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><i class="fa fa-file-pdf mr-2"></i> Download Lesson Plan
                    <span></span>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span
                        aria-hidden="true">&times;</span> </button>
            </div>
            <div class="modal-body p-0">
                <div class="col-md-12 lesson-plan-list">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck1">
                        <label class="custom-control-label" for="customCheck1">Lesson Plan Title Here 1</label>
                    </div>
                </div>

                <div class="col-md-12 lesson-plan-list">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck2">
                        <label class="custom-control-label" for="customCheck2">Lesson Plan Title Here 1</label>
                    </div>
                </div>

                <div class="col-md-12 lesson-plan-list">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck3">
                        <label class="custom-control-label" for="customCheck3">Lesson Plan Title Here 1</label>
                    </div>
                </div>

                <div class="col-md-12 lesson-plan-list">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck4">
                        <label class="custom-control-label" for="customCheck4">Lesson Plan Title Here 1</label>
                    </div>
                </div>

            </div>
            <div class="modal-footer border-0">
                <button type="button" class="btn btn-primary w-100">Download Lesson</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal-vds" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content top-border">

            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><i class="fa fa-file-pdf mr-2"></i> Download Video
                    <span></span>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span
                        aria-hidden="true">&times;</span> </button>
            </div>

            <div class="modal-body p-0">

                <div class="col-md-12 lesson-plan-list">
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                        <label class="custom-control-label" for="customRadio1">Quality</label> <span>1080p60 HD</span>
                    </div>
                </div>

                <div class="col-md-12 lesson-plan-list">
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
                        <label class="custom-control-label" for="customRadio2">Quality</label> <span>720p60</span>
                    </div>
                </div>

                <div class="col-md-12 lesson-plan-list">
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadio3" name="customRadio" class="custom-control-input">
                        <label class="custom-control-label" for="customRadio3">Quality</label> <span>480p</span>
                    </div>
                </div>





            </div>
            <div class="modal-footer border-0">
                <button type="button" class="btn btn-primary w-100">Download Video</button>
            </div>
        </div>
    </div>
</div>


<div class="container video-page">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-6 pr-0">
            <a (click)="onBackClicked()" class="text-link"><i class="fas fa-chevron-left"></i>Back to Category</a>
        </div>
        <!-- only for Stories Page -->
        <!-- <div class="col-lg-6 col-md-6 col-6 btn-language">
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-outline-primary active">
                    <input type="radio" name="options" id="option1" checked>English</label>
                <label class="btn btn-outline-primary">
                    <input type="radio" name="options" id="option2">Urdu</label>
            </div>

        </div> -->
    </div>

    <div class="row content-title">
        <div class="col-lg-9 col-md-9 col-sm-12">
            <h2 class="v-title">{{ categoryName }} / <span>{{currentlyPlayed.english_word ||
                    currentlyPlayed.title}}</span></h2>
            <!-- Only For Teachers -->
            <!-- <h4>Grade 1 <span>-</span> Mathematics</h4> -->
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 text-right">
            <div class="custom-control custom-switch"><span>Auto Play</span>
                <input type="checkbox" class="custom-control-input" id="customSwitch1">
                <label class="custom-control-label" for="customSwitch1"></label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-12">

            <div class="row">
                <div class="col-12">
                    <!-- <img src="../../../assets/images/thumb.jpg" alt="0" style="width:100%"> -->
                    <video id="plyrID" controls playsinline style="width:100%">
                        <a href="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-576p.mp4"
                            download>Download</a>
                    </video>

                </div>
            </div>

            <div class="row v-title-action">
                <div class="col-lg-7 col-md-12 content-title pr-0">
                    <h2>Matching Words with Pictures</h2>
                </div>
                <div class="col-lg-5 col-md-12 content-title pl-0 text-right">
                    <h2>{{currentlyPlayed.urdu_word}}</h2>
                </div>

                <div class="col-12">
                    <div class="row m-0 border-top">
                        <div class="col-auto pl-0 pr-0 xsm-w"><button data-toggle="modal" data-target="#exampleModal"
                                type="button" class="btn btn-primary"><i class="fas fa-file-pdf"></i> Download Lesson
                                Plan</button></div>
                        <div class="col pr-0 text-right xsm-w">
                            <a href="#" class="text-link text-decoration-none mr-3"><i
                                    class="fas fa-share"></i>Share</a>
                            <a href="#" data-toggle="modal" data-target="#exampleModal-vds"
                                class="text-link text-decoration-none"><i class="fas fa-download"></i>Download</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-lg-3 col-md-3 col-sm-12 pl-sm">
            <div class="r-video-list">

                <h5 class="nextvds">Next Videos</h5>

                <span *ngFor="let vedio of remeaningVedios">
                    <a [routerLink]="[updateUrl(vedio.id), vedio.id]" class="video-thumb">
                        <div class="v-thumb-img">
                            <div class='playBut'>
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink"
                                    xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/" x="0px" y="0px"
                                    width="213.7px" height="213.7px" viewBox="0 0 213.7 213.7"
                                    enable-background="new 0 0 213.7 213.7" xml:space="preserve">

                                    <polygon class='triangle' id="XMLID_18_" fill="none" stroke-width="7"
                                        stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="
				73.5,62.5 148.5,105.8 73.5,149.1 " />

                                    <circle class='circle' id="XMLID_17_" fill="none" stroke-width="7"
                                        stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="106.8"
                                        cy="106.8" r="103.3" />
                                </svg>
                            </div>
                            <img [src]="decodeURIComponent(vedio.poster)" alt="">
                        </div>
                        <h3>{{vedio.english_word || currentlyPlayed.title}}</h3>
                    </a>
                </span>
            </div>

        </div>
    </div>

</div>