<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content top-border">
            <form #lessonDownloadForm="ngForm">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><i class="fa fa-file-pdf mr-2"></i> Download Lesson
                        Plan
                        <span></span>
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" id="close-lesson" (click)="lessonDownloadForm.resetForm()"
                        aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                </div>
                <div *ngIf="currentlyPlayed.documents && currentlyPlayed.documents.length && !success" class="modal-body p-0">
                    <div class="col-md-12 lesson-plan-list" *ngFor="let document of currentlyPlayed.documents">
                        <div>
                            <input type="checkbox" class="lesson-checkbox" (click)="selecteLesson(document)"
                                id="customCheck1_{{document.name}}" name="customCheck1_{{document.name}}">
                            <label class="lesson-name" for="customCheck1">{{document.name}}</label>
                        </div>
                    </div>

                    <div class="col-md-12 lesson-plan-error"
                        *ngIf="lessonDownloadForm.submitted && !selectedLessons.length">
                        Please select lesson(s) to download!
                    </div>
                </div>
                <div *ngIf="!success" class="modal-footer border-0">
                    <button type="submit" class="btn btn-primary w-100"
                        (click)="downloadLessons(lessonDownloadForm)">Download
                        Lesson</button>
                </div>
                <div *ngIf="success" class="modal-body confir_pay">
                    <div class="col-12">
                        <div class="check_mark">
                            <div class="sa-icon sa-success animate">
                                <span class="sa-line sa-tip animateSuccessTip"></span>
                                <span class="sa-line sa-long animateSuccessLong"></span>
                                <div class="sa-placeholder"></div>
                                <div class="sa-fix"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <h3 class="download-title">Your download should begin automatically in few seconds...</h3>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal-vds" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content top-border">
            <form #videoDownloadForm="ngForm">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><i class="fas fa-download mr-2"></i> Download Video
                        <span></span>
                    </h5>
                    <button type="button" id="close-video" class="close" data-dismiss="modal" aria-label="Close"
                        (click)="videoDownloadForm.resetForm()"> <span
                            aria-hidden="true">&times;</span> </button>
                </div>

                <div *ngIf="!success" class="modal-body p-0">

                    <div class="col-md-12 lesson-plan-list" *ngFor="let quality of videoQualities">
                        <div class="custom-control custom-radio">
                            <input type="radio" id="customRadio_{{quality}}" (click)="selectedQuality(quality)"
                                value="{{quality}}" name="customRadio" class="custom-control-input">
                            <label class="custom-control-label" for="customRadio_{{quality}}">Quality</label>
                            <span>{{quality}}</span>
                        </div>
                    </div>
                    <div class="col-md-12 lesson-plan-error"
                        *ngIf="videoDownloadForm.submitted && !selectedVideoQuality">
                        Please select video quality!
                    </div>
                    <div class="col-md-12 lesson-plan-error" *ngIf="downloadError">
                        {{downloadError}}
                    </div>
                </div>
                <div *ngIf="!success" class="modal-footer border-0">
                    <button type="submit" class="btn btn-primary w-100"
                        (click)="downloadVideo(videoDownloadForm)">Download Video</button>
                </div>
                <div *ngIf="success" class="modal-body confir_pay">
                    <div class="col-12">
                        <div class="check_mark">
                            <div class="sa-icon sa-success animate">
                                <span class="sa-line sa-tip animateSuccessTip"></span>
                                <span class="sa-line sa-long animateSuccessLong"></span>
                                <div class="sa-placeholder"></div>
                                <div class="sa-fix"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <h3 class="download-title">Your download should begin automatically in few seconds...</h3>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-share" tabindex="-1" role="dialog" aria-labelledby="ShareModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content top-border">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><i class="fa fa-share mr-2"></i> Share Video
                    <span></span>
                </h5>
                <button type="button" id="close-share" class="close" data-dismiss="modal" aria-label="Close"> <span
                        aria-hidden="true">&times;</span> </button>
            </div>
            <div class="modal-body ta-center">
                <div class="col-12">
                    <span class="share-to" (click)="shareToFacebook()">
                        <i class="fab fa-facebook-square"></i>
                    </span>
                    <span class="share-to" (click)="shareToTwitter()">
                        <i class="fab fa-twitter-square"></i>
                    </span>
                    <span class="share-to" (click)="shareToWhatsapp()">
                        <i class="fab fa-whatsapp-square"></i>
                    </span>
                </div>
                <div *ngIf="videoLink" class="col-12 invite_through_link float-left w-100 pl-40">
                    <span class="link_invite float-left col-12">
                        <input type="text" name="video-link" (click)="copyLink()" readonly value="{{videoLink.trim()}}" id="">
                        <button class="copy-btn" (click)="copyLink()">{{copy}}</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container video-page">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-6 pr-0">
            <a (click)="onBackClicked()" class="text-link"><i class="fas fa-chevron-left"></i>Back to Category</a>
        </div>
        <!-- only for Stories Page -->
        <!-- *ngIf="isStories" : Buttons are hidden because of data inconsistency -->
        <div *ngIf="false" class="col-lg-6 col-md-6 col-6 btn-language">
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-outline-primary active" (click)="languageChanged('english')">
                    <input type="radio" name="options" id="option1" checked>English</label>
                <label class="btn btn-outline-primary" (click)="languageChanged('urdu')">
                    <input type="radio" name="options" id="option2">Urdu</label>
            </div>

        </div>
    </div>

    <div class="row content-title">
        <div class="col-lg-9 col-md-9 col-sm-12">
            <h2 class="v-title">{{ categoryName }} / <span>{{currentlyPlayed.english_word ||
                    currentlyPlayed.title}}</span></h2>
            <!-- Only For Teachers -->
            <!-- <h4>Grade 1 <span>-</span> Mathematics</h4> -->
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 text-right">
            <div class="custom-control custom-switch"><span>Auto Play</span>
                <input type="checkbox" class="custom-control-input" id="customSwitch1"
                    (change)="onAutoPlay($event.target.checked ? true : false)">
                <label class="custom-control-label" for="customSwitch1"></label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-12">

            <div class="row">
                <div class="col-12">
                    <!-- <img src="../../../assets/images/thumb.jpg" alt="0" style="width:100%"> -->
                    <video id="plyrID" controls playsinline style="width:100%" (ended)="onVideoEnded()">
                        <a href="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-576p.mp4"
                            download>Download</a>
                    </video>

                </div>
            </div>
            <div class="row v-title-action">
                <div class="col-lg-7 col-md-12 content-title pr-0">
                    <h2>{{currentlyPlayed.english_word || currentlyPlayed.title}}</h2>
                </div>
                <div class="col-lg-5 col-md-12 content-title pl-0 text-right">
                    <h2>{{currentlyPlayed.urdu_word}}</h2>
                </div>

                <div class="col-12">
                    <div class="row m-0 border-top">
                        <div *ngIf="currentlyPlayed.documents && currentlyPlayed.documents.length"
                            class="col-auto pl-0 pr-0 xsm-w"><button data-toggle="modal" data-target="#exampleModal"
                                type="button" class="btn btn-primary"><i class="fas fa-file-pdf"></i> Download Lesson
                                Plan</button></div>
                        <div class="col pr-0 text-right xsm-w">
                            <a href="#" class="text-link text-decoration-none mr-3" data-toggle="modal" data-target="#modal-share"><i
                                    class="fas fa-share"></i>Share</a>
                            <a href="#" data-toggle="modal" data-target="#exampleModal-vds"
                                class="text-link text-decoration-none"><i class="fas fa-download"></i>Download</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-lg-3 col-md-3 col-sm-12 pl-sm">
            <!-- <div class="r-video-list"> -->
            <ng-scrollbar class="r-video-list" thumbClass="white-scrollbars" disabled="false">
                <cdk-virtual-scroll-viewport scrollViewport>
                    <h5 class="nextvds">Next Videos</h5>

                    <span *ngFor="let vedio of remeaningVedios">
                        <a [routerLink]="[updateUrl(vedio.id), vedio.id]" class="video-thumb">
                            <div class="v-thumb-img">
                                <div class='playBut'>
                                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                        xmlns:xlink="http://www.w3.org/1999/xlink"
                                        xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/" x="0px" y="0px"
                                        width="213.7px" height="213.7px" viewBox="0 0 213.7 213.7"
                                        enable-background="new 0 0 213.7 213.7" xml:space="preserve">

                                        <polygon class='triangle' id="XMLID_18_" fill="none" stroke-width="7"
                                            stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
                                            points="
				73.5,62.5 148.5,105.8 73.5,149.1 " />

                                        <circle class='circle' id="XMLID_17_" fill="none" stroke-width="7"
                                            stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
                                            cx="106.8" cy="106.8" r="103.3" />
                                    </svg>
                                </div>
                                <img [src]="vedio.poster ? decodeURIComponent(vedio.poster) : '/assets/images/placeholder-image.jpg'"
                                    onError="this.src='/assets/images/placeholder-image.jpg'" alt="">
                            </div>
                            <h3>{{vedio.english_word || vedio.title}}</h3>
                        </a>
                    </span>
                </cdk-virtual-scroll-viewport>
            </ng-scrollbar>
            <!-- </div> -->

        </div>
    </div>

</div>


 