.nextvds {
    display: none;
}
.text-link {
    color: #7a7a7a;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
}
.text-link i {
    color: #009e4f;
    margin-right: 10px;
}
.text-link:hover {
    color: #009e4f;
}
.video-page {
    padding-top: 40px;
}
.video-page .content-title {
    font-size: 22px;
    padding-top: 15px !important;
}
.v-title-action {
    padding-top: 15px;
}
.v-title {
    font-size: 22px !important;
}
.v-title-action .content-title {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
.v-title-action .content-title h2 {
    margin: 0;
    margin-bottom: 15px;
    text-transform: capitalize;
    font-size: 20px !important;
}
.v-title-action .border-top {
    border-top: solid 1px #e4e4e4;
    padding-top: 15px;
}
.v-title-action .btn {
    margin-top: -4px;
}
.v-title-action .btn i {
    margin-right: 5px;
}
.video-page h4 {
    font-size: 18px;
    margin: 0;
    color: #009e4f;
    font-weight: normal;
}
.video-page h4 span {
    color: #282828;
}
.custom-switch .custom-control-label::before {
    width: 40px;
    border-radius: 16px;
    height: 16px;
}
.custom-switch .custom-control-label::after {
    top: 2px;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    border: solid 1px #d4d4d4;
}
.custom-switch .custom-control-label::after {
    background-color: #bbb9b9;
}
.custom-switch .custom-control-input:checked ~ .custom-control-label::after {
    background-color: #fff;
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
}
.custom-switch .custom-control-label::before {
    background-color: #dbdbdb;
    border: none;
}
.custom-switch .custom-control-label {
    font-size: 12px;
}
.custom-switch {
    padding-left: 0;
    font-family: "Poppins", sans-serif;
    min-width: 120px;
    font-size: 14px;
    float: right;
    margin-right: 10px;
    z-index: 0 !important;
}
.custom-switch span {
    float: left;
    line-height: 1.8;
}
.lesson-checkbox {
    height: 15px;
    width: 25px;
}
.lesson-name {
    text-transform: capitalize;
}
.lesson-plan-error {
    color: red;
    font-size: 15px;
    float: left;
    width: 100%;
}

ng-scrollbar.r-video-list {
    background-color: #fff;
    /* padding: 15px; */
    display: inline-block;
    width: 100%;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    box-shadow: 0 0 1.3rem 0 rgba(0, 0, 0, 0.1);
    height: 635px !important;
    max-height: 635px !important;
    overflow: hidden;
}
.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: #009e4f !important;
    background-color: #009e4f !important;
}
.plyr__control {
    background: #009e4f;
}
ng-scrollbar.r-video-list .video-thumb {
    box-shadow: none;
    background-color: transparent;
    margin-bottom: 0;
    margin-right: 10px;
    margin-left: 10px; width: auto;  
}

ng-scrollbar.r-video-list .video-thumb .v-thumb-img{width: 229px; min-height: 129px;}


ng-scrollbar.r-video-list .video-thumb:hover {
    box-shadow: none;
    background-color: transparent;
    color: #009e4f;
}
ng-scrollbar.r-video-list .video-thumb img,
ng-scrollbar.r-video-list .video-thumb .playBut {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
}
ng-scrollbar.r-video-list .video-thumb h3 {
    padding: 5px 0px 5px 0px;
    line-height: normal;
}
.video-page .ng-scroll-viewport {
    margin-top: 10px;
    margin-bottom: 10px;
}
.download-title{font-size:16px;text-align:center; padding-bottom: 30px}
.check_mark {
  width: 90px;
  height: 100px;
  margin: 0 auto;
  margin-bottom: 35px;}
.sa-icon {
  width: 80px;
  height: 80px;
  border: 4px solid gray;
  -webkit-border-radius: 40px;
  border-radius: 40px;
  border-radius: 50%;
  margin: 20px auto;
  padding: 0;
  position: relative;
  box-sizing: content-box; }

.sa-icon.sa-success {
  border-color: #009e4f; }

.sa-icon.sa-success::before, .sa-icon.sa-success::after {
  content: '';
  -webkit-border-radius: 40px;
  border-radius: 40px;
  border-radius: 50%;
  position: absolute;
  width: 60px;
  height: 120px;
  background: white;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }

.sa-icon.sa-success::before {
  -webkit-border-radius: 120px 0 0 120px;
  border-radius: 120px 0 0 120px;
  top: -7px;
  left: -33px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 60px 60px;
  transform-origin: 60px 60px; }

.sa-icon.sa-success::after {
  -webkit-border-radius: 0 120px 120px 0;
  border-radius: 0 120px 120px 0;
  top: -11px;
  left: 30px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 0px 60px;
  transform-origin: 0px 60px; }

.sa-icon.sa-success .sa-placeholder {
  width: 80px;
  height: 80px;
  border: 4px solid rgba(158, 158, 158, 0.5);
  -webkit-border-radius: 40px;
  border-radius: 40px;
  border-radius: 50%;
  box-sizing: content-box;
  position: absolute;
  left: -4px;
  top: -4px;
  z-index: 2; }

.sa-icon.sa-success .sa-fix {
  width: 5px;
  height: 90px;
  background-color: white;
  position: absolute;
  left: 28px;
  top: 8px;
  z-index: 1;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.sa-icon.sa-success.animate::after {
  -webkit-animation: rotatePlaceholder 4.25s ease-in;
  animation: rotatePlaceholder 4.25s ease-in; }

.sa-icon.sa-success {
  border-color: transparent\9; }

.sa-icon.sa-success .sa-line.sa-tip {
  -ms-transform: rotate(45deg) \9; }

.sa-icon.sa-success .sa-line.sa-long {
  -ms-transform: rotate(-45deg) \9; }

.animateSuccessTip {
  -webkit-animation: animateSuccessTip 1s;
  animation: animateSuccessTip 1s; }

.animateSuccessLong {
  -webkit-animation: animateSuccessLong 0.85s;
  animation: animateSuccessLong 0.85s; }

.share-to {
    margin: 10px;
    padding: 0;
    font-size: 36px;
    cursor: pointer;
}
.invite_through_link {
    margin-top: 10px;
}

.link_invite input {
    width: 220px;
    min-width: 190px;
    padding: 3px;
    color: #009e4f;
    cursor: pointer;
}

.ta-center {
    text-align: center;
}
.fa-facebook-square {
    color: royalblue;
}
.fa-twitter-square {
    color: rgb(101, 135, 236);
}
.fa-whatsapp-square {
    color: #009e4f;
}
.copy-btn {
    padding: 5px;
    border: none;
    color: #fff;
    min-width: 65px;
    margin-top: 10px;
    margin-left: 1px;
    background-color: #009e4f;
}


@-webkit-keyframes animateSuccessLong {
  0% {
    width: 0;
    right: 46px;
    top: 54px; }
  65% {
    width: 0;
    right: 46px;
    top: 54px; }
  84% {
    width: 55px;
    right: 0px;
    top: 35px; }
  100% {
    width: 47px;
    right: 8px;
    top: 38px; } }
@-webkit-keyframes animateSuccessTip {
  0% {
    width: 0;
    left: 1px;
    top: 19px; }
  54% {
    width: 0;
    left: 1px;
    top: 19px; }
  70% {
    width: 50px;
    left: -8px;
    top: 37px; }
  84% {
    width: 17px;
    left: 21px;
    top: 48px; }
  100% {
    width: 25px;
    left: 14px;
    top: 45px; } }
@keyframes animateSuccessTip {
  0% {
    width: 0;
    left: 1px;
    top: 19px; }
  54% {
    width: 0;
    left: 1px;
    top: 19px; }
  70% {
    width: 50px;
    left: -8px;
    top: 37px; }
  84% {
    width: 17px;
    left: 21px;
    top: 48px; }
  100% {
    width: 25px;
    left: 14px;
    top: 45px; } }
@keyframes animateSuccessLong {
  0% {
    width: 0;
    right: 46px;
    top: 54px; }
  65% {
    width: 0;
    right: 46px;
    top: 54px; }
  84% {
    width: 55px;
    right: 0px;
    top: 35px; }
  100% {
    width: 47px;
    right: 8px;
    top: 38px; } }
.sa-icon.sa-success .sa-line {
  height: 5px;
  background-color: #009e4f;
  display: block;
  border-radius: 2px;
  position: absolute;
  z-index: 2; }

.sa-icon.sa-success .sa-line.sa-tip {
  width: 25px;
  left: 14px;
  top: 46px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }

.sa-icon.sa-success .sa-line.sa-long {
  width: 47px;
  right: 8px;
  top: 38px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
@media (max-width: 1024px) {
    ng-scrollbar.r-video-list {
        height: 560px !important;
        max-height: 560px !important;
    }
    .text-link {
        font-size: 13px;
    }
    .custom-switch span {
        font-size: 13px;
        line-height: 1.7;
    }
    .video-page h4 {
        font-size: 16px;
    }
    .v-title-action .content-title h2 {
        font-size: 18px !important;
    }
    .video-page .content-title {
        font-size: 20px !important;
    }
    .v-title {
        font-size: 20px !important;
    }
    ng-scrollbar.r-video-list .video-thumb .v-thumb-img{width: 185px; min-height: 104px;}
}
@media (max-width: 800px) {
ng-scrollbar.r-video-list .video-thumb .v-thumb-img{width: 142px; min-height: 80px;}
}
@media (max-width: 812px) {
    .pl-sm {
        padding-left: 0;
    }
    ng-scrollbar.r-video-list {
        height: 456px !important;
        max-height: 456px !important;
    }
    .v-title {
        font-size: 18px !important;
    }
    .video-page h4 {
        font-size: 14px;
    }
    ng-scrollbar.r-video-list .video-thumb h3 {
        font-size: 13px;
    }
    .v-title-action .content-title h2 {
        margin-bottom: 5px;
    }
}

@media (max-width: 767px) {
    .nextvds {
        display: block;
        margin-bottom: 10px;
        margin-left: 10px;
        font-size: 16px;
    }
    .text-link {
        letter-spacing: normal;
    }
    .v-title,
    .v-title-action .content-title h2 {
        letter-spacing: 0.5px;
        font-size: 16px !important;
    }
    .v-title {
        margin-bottom: 5px;
    }
    .video-page .content-title {
        padding-bottom: 8px;
    }
    .v-title-action {
        padding-bottom: 30px;
    }
    .v-title-action .btn {
        font-size: 13px;
        letter-spacing: normal;
    }
    ng-scrollbar.r-video-list {
        height: auto;
        max-height: auto; padding-left: 0px; padding-top: 15px;
    }
    ng-scrollbar.r-video-list .video-thumb {
        float: left;
        width: 46%;
        margin-left: 10px;
    }
    .pl-sm {
        padding-left: 15px;
    }
    ng-scrollbar.r-video-list .video-thumb .v-thumb-img{width: 247px; min-height: 140px;}


    .pl-sm{padding: 0px !important;}

    ng-scrollbar.r-video-list  {
        height: 100% !important;
        max-height: 100% !important;
    } 
 
}

@media (max-width: 480px) {
    ng-scrollbar.r-video-list .video-thumb { 
        width: 45%; 
    }  
    ng-scrollbar.r-video-list .video-thumb .v-thumb-img{ width: 218px; min-height: 123px;}
}

@media (max-width: 425px) {
    ng-scrollbar.r-video-list .video-thumb {
        float: none; margin-left: 15px;
    }
    
    .v-title-action .btn {
        font-size: 12.5px;
    }
    .v-title,
    .v-title-action .content-title h2 {
        font-size: 15px !important;
    }
    .nextvds {
        font-size: 15px; margin-left: 15px;
    }
    ng-scrollbar.r-video-list .video-thumb { 
        width: 100% !important; 
    }  
    ng-scrollbar.r-video-list .video-thumb .v-thumb-img{ width: 393px; min-height: 221px;}
 
}

@media (max-width: 420px) {
    ng-scrollbar.r-video-list .video-thumb .v-thumb-img{ width: 390px; min-height: 220px;}
}
@media (max-width: 414px) {
    ng-scrollbar.r-video-list .video-thumb .v-thumb-img{ width: 380px; min-height: 214px;}
}

@media (max-width: 400px) {
    .xsm-w {
        width: 100%;
        text-align: center !important;
        padding: 0px;
    }
    .xsm-w .btn-primary {
        margin-bottom: 10px;
    }
    .v-title-action {
        padding-bottom: 20px;
    }
ng-scrollbar.r-video-list .video-thumb .v-thumb-img{ width: 345px; min-height: 194px;}
}
@media (max-width: 374px) {
    ng-scrollbar.r-video-list .video-thumb .v-thumb-img{ width: 332px; min-height: 187px;}
}
@media (max-width: 320px) {
    ng-scrollbar.r-video-list .video-thumb .v-thumb-img{ width: 290px; min-height: 163px;}
}