<div class="container">
    <div class="row content-title">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <h2>{{categoryName.split(' ')[0]}} <span>{{categoryName.split(' ')[1]}}</span></h2>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 d-none d-md-block">
            <ol class="breadcrumb">
                <li><a href="#"><span>{{categoryName}} </span></a></li>
                <li><span>List</span></li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-2 col-md-2 alphabets-list d-none">

            <div class="select-dictionary d-block d-md-none">
                <select class="custom-select" id="inputGroupSelect02" style="font-size: 13px !important;">
                    <option selected>Select Alphabets</option>
                    <option>A</option>
                    <option>B</option>
                    <option>C</option>
                    <option>D</option>
                    <option>E</option>
                    <option>F</option>
                    <option>G</option>
                </select>
            </div>

            <div class="leftside-list d-none d-md-block">
                <h3><span>Alphabets</span></h3>
                <div class="leftside-overflow">
                    <ul>
                        <li><a href="#">A <span>125</span></a></li>
                        <li><a href="#">B <span>125</span></a></li>
                        <li><a class="active" href="#">C <span>125</span></a></li>
                        <li><a href="#">D <span>125</span></a></li>
                        <li><a href="#">E <span>125</span></a></li>
                        <li><a href="#">F <span>125</span></a></li>
                        <li><a href="#">G <span>125</span></a></li>
                        <li><a href="#">H <span>125</span></a></li>
                        <li><a href="#">I <span>125</span></a></li>
                        <li><a href="#">J <span>125</span></a></li>
                        <li><a href="#">K <span>125</span></a></li>
                        <li><a href="#">L <span>125</span></a></li>
                        <li><a href="#">M <span>125</span></a></li>
                        <li><a href="#">N <span>125</span></a></li>
                        <li><a href="#">O <span>125</span></a></li>
                        <li><a href="#">P <span>125</span></a></li>
                        <li><a href="#">Q <span>125</span></a></li>
                        <li><a href="#">R <span>125</span></a></li>
                        <li><a href="#">S <span>125</span></a></li>
                        <li><a href="#">T <span>125</span></a></li>
                        <li><a href="#">U <span>125</span></a></li>
                        <li><a href="#">V <span>125</span></a></li>
                        <li><a href="#">W <span>125</span></a></li>
                        <li><a href="#">X <span>125</span></a></li>
                        <li><a href="#">Y <span>125</span></a></li>
                        <li><a href="#">Z <span>125</span></a></li>
                    </ul>
                </div>
            </div>


        </div>

        <div class="col-lg-12 col-md-12 sign-list">
            <div class="row filter-sort">

                <div class="col-md-6 col pr-0">
                    <div *ngIf="loaders.length === 0" class="search-filter">
                        <i class="fa fa-search" *ngIf="searchInput.value.length < 1"></i>
                        <i class="fa fa-times cursor-pointer" *ngIf="searchInput.value.length > 0"
                            (click)="searchInput.value='';searchWithTitle('')"></i>
                        <input type="text" placeholder="Search" #searchInput
                            (keyup)="searchWithTitle($event.target.value)" class="form-control" style="font-size:13px !important;">
                    </div>
                    <div *ngIf="loaders.length > 0" class="shine dictionary-icon-effect-e2 search-filter" style="height: 30px; border: none; margin-bottom: 0;"></div> 
                </div>

                <div class="col-md-6 col-auto">
                    <select *ngIf="loaders.length === 0" class="custom-select" (change)="changeSort($event.target.value)" style="font-size: 13px !important;">
                        <option hidden selected>Sort By</option>
                        <option value="A">A to Z</option>
                        <option value="Z">Z to A</option>
                    </select>
                    <div *ngIf="loaders.length > 0" class="shine dictionary-icon-effect-e2" style="height: 30px; border: none; width: 30%; margin-bottom: 0;"></div> 
                </div>

            </div>
            <div class="row">
                <div class="col-3" *ngFor="let dictionary of dictionariesList">
                    <a [routerLink]="['/dictionary/category', dictionary.id]" class="sign-card">
                        <span>{{dictionary.videos}}</span>
                        <img [src]="dictionary.image ? decodeURIComponent(dictionary.image) : '/assets/images/placeholder-image.jpg'"
                            onError="this.src='/assets/images/placeholder-image.jpg'" alt="{{dictionary.title}}">
                        <h4>{{dictionary.title}}</h4>
                    </a>
                </div>
                <div *ngFor="let loader of loaders" class="col-3">
                    <div class="shine dictionary-icon-effect-e1"></div>		
                    <div class="shine dictionary-icon-effect-e2"></div> 
                </div>
            </div>
        </div>
    </div>
</div>