.search-possible-results {
    max-width: 500px;
    background: #009e4f;
    margin: 0 auto;
    padding: 0 8px 4px;
    transition: .2s ease-in-out;
    z-index: 9999;
    position: absolute; left: 0; right: 0;
    border-radius: 0 0 6px 6px;
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    padding-bottom: 10px;
}
.search-possible-results ul{padding: 0;}
.search-result {
    text-align: left;
    background: #fff;
    padding: 8px 15px;
    overflow: hidden;
    border-radius: 8px;
}
.all-searched-items {
    max-height: 180px;
    margin: 5px 0;
    overflow-y: scroll;
    overflow-x: hidden;
}
.search-sec h4 {
    color: #009e4f;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 18px;
}
.search-sec li {
    list-style: none;
    cursor: pointer;
}
.possible-search-items {
    margin-bottom: 8px;
    padding: 5px 5px;
}
.possible-search-items a {
    font-size: 14px;
    text-decoration: none;
    color: #4e4e4e;
    display: block; text-transform: capitalize;
}

.main-container {
    min-height:95vh;
}
