.search-possible-results {
  max-width: 500px;
  background: #009e4f;
  margin: 0 auto;
  padding: 0 8px 4px;
  transition: 0.2s ease-in-out;
  z-index: 9999;
  position: absolute;
  left: 0;
  right: 0;
  border-radius: 0 0 6px 6px;
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  padding-bottom: 10px;
}
.search-possible-results ul {
  padding: 0;
}
.search-result {
  text-align: left;
  background: #fff;
  padding: 8px 15px;
  overflow: hidden;
  border-radius: 8px;
}
.all-searched-items {
  max-height: 190px;
  margin: 5px 0;
  overflow: hidden;
}
.search-sec h4 {
  color: #009e4f;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
}
.search-sec li {
  list-style: none;
  cursor: pointer;
}
.possible-search-items {
  margin-bottom: 8px;
  padding: 5px 5px;
  width: 97%;
}
.possible-search-items a {
  font-size: 14px;
  text-decoration: none;
  color: #4e4e4e;
  display: block;
  text-transform: capitalize;
}
.ta-center {
  text-align: center;
}
.main-container {
  min-height: 95vh;
}
/* .cdk-viewport {
  height: calc(100vh - 0px);
  width: 100vw;
} */

.inner {
  width: 140%;
}

.cdk-viewport {
  height: 200px;
  display: flex;
  align-items: center;
  padding-left: 2em;
}
.cdk-viewport:nth-child(odd) {
  background: #ffff;
}
.cdk-viewport:nth-child(even) {
  background: #ffff;
}

ng-scrollbar.white-theme {
  height: 200px;
  --scrollbar-size: 8px;
  --scrollbar-thumb-color: red;
  --scrollbar-thumb-hover-color: red;
  --scrollbar-color: rgba(0, 0, 0, 0.15);
  --scrollbar-border-radius: 4px;
  max-height: 200px;
  border-radius: 0px;
  border:none;
  overflow: hidden;
}
.white-scrollbars {
  box-shadow:none;
  background: #ffff;
}
.ng-scrollbar {
  box-shadow:none;
}
/* .cdk-viewport{margin-right: -8px;} */
.all-searched-items{position: relative;}

.all-searched-items::after{
	content: "";position: absolute;
  width: 16px;
  height: 17px;
  top: -2px;
  right: -5px;
  background-color: #f1f1f1;
  z-index: 5;
}
.all-searched-items::before{
	content: "";
  position: absolute;
  width: 16px;
  height: 17px;
  bottom: -16px;
  right: -1px; top: auto;
  background-color: #fff;
  z-index: 5;
}


@media (max-width: 1024px) {  
.all-searched-items::after, .all-searched-items::before{
  display: none;
}
}