<div class="container">
    <div class="row content-title">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <h2>PSL <span>Dictionary</span></h2>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 d-none d-md-block">
            <ol class="breadcrumb">
                <li><a href="#"><span>PSL Dictionary </span></a></li>
                <li><span>Airport</span></li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3 col-md-4">

            <div class="select-dictionary d-block d-md-none">
                <select class="custom-select" id="inputGroupSelect02">
                    <option selected>Select Dictionary</option>
                    <option>Adjectives</option>
                    <option>Adverbs</option>
                    <option>Airport</option>
                    <option>Alphabet</option>
                    <option>Beauty</option>
                    <option>Bedroom</option>
                    <option>Alphabet</option>
                </select>
            </div>

            <div class="leftside-list d-none d-md-block">
                <h3>Dictionary <span>List</span></h3>
                <div class="leftside-overflow">
                    <ul>
                        <li *ngFor="let dictionary of genericService.dictionaryCategories$ | async">
                            <a [routerLink]="['/dictionary/category', dictionary.id]"
                                routerLinkActive="active">{{dictionary.title}}</a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>

        <div class="col-lg-9 col-md-8">

            <router-outlet></router-outlet>
            <!-- </div> -->

        </div>

    </div>

</div>