<div class="container">
    <div class="row content-title">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <h2>{{categoryName.split(' ')[0]}} <span>{{categoryName.split(' ')[1]}}</span></h2>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 d-none d-md-block">
            <ol class="breadcrumb">
                <li><a href="#"><span>{{categoryName}} </span></a></li>
                <li><span>List</span></li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3 col-md-4">

            <div class="select-dictionary d-block d-md-none">
                <select *ngIf="!isLoading" class="custom-select" id="inputGroupSelect02" (change)="goToDictionary($event.target.value)"  style="font-size: 13px !important;">
                    <option selected disabled>Select Dictionary</option>
                    <option [value]="dictionary.id"
                        *ngFor="let dictionary of genericService.dictionaryCategories$ | async">
                        {{dictionary.title}}
                    </option>
                </select>
                <div *ngIf="isLoading" class="shine effect-sm-left"></div>
            </div>

            <div *ngIf="!isLoading" class="leftside-list d-none d-md-block">
                <h3>Dictionary <span>List</span></h3>
                <ng-scrollbar class="leftside-overflow" thumbClass="white-scrollbars" disabled="false">
                    <cdk-virtual-scroll-viewport scrollViewport>
                        <ul>
                            <li *ngFor="let dictionary of genericService.dictionaryCategories$ | async">
                                <a [routerLink]="['/dictionary/category', dictionary.id]"
                                    routerLinkActive="active">{{dictionary.title}}</a>
                            </li>
                        </ul>
                    </cdk-virtual-scroll-viewport>
                </ng-scrollbar>
            </div>
            <div *ngIf="isLoading" class="leftside-list d-none d-md-block" style="box-shadow: none">
                <div class="shine effect-sm-left"></div>
                <div class="shine effect-sm-left"></div>
                <div class="shine effect-sm-left"></div>
                <div class="shine effect-sm-left"></div>
                <div class="shine effect-sm-left"></div>
                <div class="shine effect-sm-left"></div>
                <div class="shine effect-sm-left"></div>
                <div class="shine effect-sm-left"></div>
                <div class="shine effect-sm-left"></div>
                <div class="shine effect-sm-left"></div>
            </div>
        </div>

        <div class="col-lg-9 col-md-8">

            <router-outlet></router-outlet>
            <!-- </div> -->

        </div>

    </div>

</div>