<div class="sub-page">

    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>PSL <span>FAQs</span></h2>
            </div>
        </div>

        <div class="row">
            <div class="col-12">

                <ul class="nav nav-pills nav-justified faqs-tabs" id="pills-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="pills-lg-tab" data-toggle="pill" href="#pills-lg" role="tab"
                            aria-controls="pills-lg" aria-selected="true">
                            <img src="../../../assets/images/about-sign-language-white.svg" alt="">
                            <h3>ABOUT <span>SIGN LANGUAGE</span></h3>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-dic-tab" data-toggle="pill" href="#pills-dic" role="tab"
                            aria-controls="pills-dic" aria-selected="false"> <img
                                src="../../../assets/images/about-psl-resources-white.svg" alt="">
                            <h3>ABOUT<span>PSL DICTIONARY</span></h3>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-res-tab" data-toggle="pill" href="#pills-res" role="tab"
                            aria-controls="pills-res" aria-selected="false"> <img
                                src="../../../assets/images/about-psl-dictionary-white.svg" alt="">
                            <h3>ABOUT<span>PSL RESOURCES</span></h3>
                        </a>
                    </li>
                </ul>

                <div class="tab-content" id="pills-tabContent">

                    <div class="tab-pane fade show active" id="pills-lg" role="tabpanel" aria-labelledby="pills-lg-tab">
                        <div class="col-12">
                            <h2 class="none-before">ABOUT <span>SIGN LANGUAGE</span></h2>

                            <div id="accordion1">
                                <div class="card shadow-none line-height24">
                                    <div class="card-header" id="headingOne">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link collapsed" data-toggle="collapse"
                                                data-target="#collapseOne" aria-expanded="false"
                                                aria-controls="collapseOne">
                                                Is there one sign language used around the world?
                                            </button>
                                        </h5>
                                    </div>

                                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
                                        data-parent="#accordion1">
                                        <div class="card-body">
                                            No, sign languages are unique and different in each country. Even within
                                            countries, regional
                                            sign languagevariations exist. Some countries have very well documented
                                            dictionaries and
                                            lexicons, which enable them to establish a national standard.
                                        </div>
                                    </div>
                                </div>

                                <div class="card shadow-none line-height24">
                                    <div class="card-header" id="headingtwo">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link collapsed" data-toggle="collapse"
                                                data-target="#collapsetwo" aria-expanded="false"
                                                aria-controls="collapsetwo">
                                                How many sign languages are there in Pakistan?
                                            </button>
                                        </h5>
                                    </div>

                                    <div id="collapsetwo" class="collapse" aria-labelledby="headingtwo"
                                        data-parent="#accordion1">
                                        <div class="card-body">
                                            Sign languages, similar to spoken languages, often have a variety of
                                            dialects in different
                                            regions of the country. While many common words are shared throughout the
                                            country, some will
                                            be regional-specific. As sign language becomes standardized and in use
                                            throughout Pakistan,
                                            these variations tend to diminish. We have attempted to document the most
                                            commonly used sign
                                            for each word in this dictionary, in consultation with leading Deaf elders
                                            and educators
                                            nationwide.

                                        </div>
                                    </div>
                                </div>

                                <div class="card shadow-none line-height24">
                                    <div class="card-header" id="headingthree">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link collapsed" data-toggle="collapse"
                                                data-target="#collapsethree" aria-expanded="false"
                                                aria-controls="collapsethree">
                                                How many sign languages are there globally?
                                            </button>
                                        </h5>
                                    </div>

                                    <div id="collapsethree" class="collapse" aria-labelledby="headingthree"
                                        data-parent="#accordion1">
                                        <div class="card-body">
                                            The Ethnologue website <a href="https://www.ethnologue.com/"
                                                target="_blank">(www.ethnologue.com)</a> states that there are 7,105
                                            known spoken languages
                                            and 138 documented sign languages.
                                        </div>
                                    </div>
                                </div>

                                <div class="card shadow-none line-height24">
                                    <div class="card-header" id="headingfoure">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link collapsed" data-toggle="collapse"
                                                data-target="#collapsefoure" aria-expanded="false"
                                                aria-controls="collapsefoure">
                                                Which finger spelling is most commonly used in Pakistan?
                                            </button>
                                        </h5>
                                    </div>

                                    <div id="collapsefoure" class="collapse" aria-labelledby="headingfoure"
                                        data-parent="#accordion1">
                                        <div class="card-body">
                                            Many of the words in Pakistan Sign Language utilize the two-handed, or
                                            manual, alphabet. The
                                            one-handed alphabet employed by American Sign Language has become the
                                            international standard
                                            and is recognizable nation-wide. Urdu finger spelling is not in common use.
                                        </div>
                                    </div>
                                </div>
                            </div>



                        </div>
                    </div>

                    <div class="tab-pane fade" id="pills-dic" role="tabpanel" aria-labelledby="pills-dic-tab">
                        <div class="col-12">
                            <h2 class="none-before">ABOUT <span>PSL DICTIONARY</span></h2>

                            <div id="accordion2">
                                <div class="card shadow-none line-height24">
                                    <div class="card-header" id="headingdic1">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link collapsed" data-toggle="collapse"
                                                data-target="#collapsedic1" aria-expanded="false"
                                                aria-controls="collapsedic1">
                                                Who developed the PSL Dictionary & Resources?
                                            </button>
                                        </h5>
                                    </div>

                                    <div id="collapsedic1" class="collapse" aria-labelledby="headingdic1"
                                        data-parent="#accordion2">
                                        <div class="card-body">
                                            These resources have been developed by Deaf Reach Schools
                                            (www.deafreach.com), a project of
                                            Family Educational Services Foundation <a href="https://www.fesf.org.pk/"
                                                target="_blank">(www.fesf.org.pk).</a>

                                        </div>
                                    </div>
                                </div>

                                <div class="card shadow-none line-height24">
                                    <div class="card-header" id="headingdic2">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link collapsed" data-toggle="collapse"
                                                data-target="#collapsedic2" aria-expanded="false"
                                                aria-controls="collapsedic2">
                                                How can I access the PSL Dictionary?
                                            </button>
                                        </h5>
                                    </div>

                                    <div id="collapsedic2" class="collapse" aria-labelledby="headingdic2"
                                        data-parent="#accordion2">
                                        <div class="card-body">
                                            <p>The PSL Dictionary can be accessed via:</p>

                                            <ul>
                                                <li>
                                                    <strong>Website:</strong> - www.psl.org.pk: Contains 7,000+ words in
                                                    English, Urdu, and
                                                    PSL. Many of the words are accompanied with a picture to enhance
                                                    language acquisition. All
                                                    words are displayed and voiced in both English & Urdu.
                                                </li>

                                                <li><strong>Mobile phone app:</strong> Access the PSL Dictionary via
                                                    your smart mobile
                                                    phone, available in both Android and IOS formats. View the same
                                                    content of 7,000+ words in
                                                    English, Urdu, and PSL, along with graphic and voice over. <a
                                                        href="https://apps.apple.com/us/app/pakistan-sign-language-psl/id955003505"
                                                        target="_blank">Available on the App Store</a> and <a
                                                        href="https://play.google.com/store/apps/details?id=com.fesf.psl&hl=en"
                                                        target="_blank">Android App on Google Play</a></li>

                                                <li><strong>DVD:</strong> - www.psl.org.pk: Contains 7,000+ words in
                                                    English, Urdu, and PSL.
                                                    Many of the words are accompanied with a picture to enhance language
                                                    acquisition. All
                                                    words are displayed and voiced in both English & Urdu.</li>

                                                <li><strong>PSL Book:</strong> - www.psl.org.pk: Contains 7,000+ words
                                                    in English, Urdu, and
                                                    PSL. Many of the words are accompanied with a picture to enhance
                                                    language acquisition. All
                                                    words are displayed and voiced in both English & Urdu. </li>

                                            </ul>





                                        </div>
                                    </div>
                                </div>

                                <div class="card shadow-none line-height24">
                                    <div class="card-header" id="headingdic3">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link collapsed" data-toggle="collapse"
                                                data-target="#collapsedic3" aria-expanded="false"
                                                aria-controls="collapsedic3">
                                                How can I order PSL materials?
                                            </button>
                                        </h5>
                                    </div>

                                    <div id="collapsedic3" class="collapse" aria-labelledby="headingdic3"
                                        data-parent="#accordion2">
                                        <div class="card-body">
                                            Please fill out a request form here to order PSL materials.
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>

                    <div class="tab-pane fade" id="pills-res" role="tabpanel" aria-labelledby="pills-res-tab">
                        <div class="col-12">
                            <h2 class="none-before">ABOUT <span>PSL RESOURCES</span></h2>

                            <div id="accordion3">
                                <div class="card shadow-none line-height24">
                                    <div class="card-header" id="headingres1">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link collapsed" data-toggle="collapse"
                                                data-target="#collapseres1" aria-expanded="false"
                                                aria-controls="collapseres1">
                                                What are PSL Resources?
                                            </button>
                                        </h5>
                                    </div>

                                    <div id="collapseres1" class="collapse" aria-labelledby="headingres1"
                                        data-parent="#accordion3">
                                        <div class="card-body">
                                            <p>PSL Resources is a collection of:</p>
                                            <ul>
                                                <li>The award-winning PSL Dictionary containing 7,000+ words.</li>
                                                <li>250 learning tutorials designed for Deaf education.</li>
                                                <li>45+ fun and engaging PSL stories - including the famous "Quaid se
                                                    Baatein" – all
                                                    culturally appropriate and with accompanying English & Urdu voice
                                                    and subtitles.</li>
                                                <li>150 classroom tutorials for educators that demonstrate best
                                                    practices and techniques.
                                                </li>
                                                <li>The IQRA Literacy program – an innovative software that teaches
                                                    reading and writing
                                                    skills for deaf children.</li>
                                            </ul>
                                            <p class="mb-0">All content is in line with Pakistan’s national curriculum,
                                                and has both
                                                English and Urdu voice over and subtitling.</p>

                                        </div>
                                    </div>
                                </div>

                                <div class="card shadow-none line-height24">
                                    <div class="card-header" id="headingres2">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link collapsed" data-toggle="collapse"
                                                data-target="#collapseres2" aria-expanded="false"
                                                aria-controls="collapseres2">
                                                What is a PSL Learning Unit?
                                            </button>
                                        </h5>
                                    </div>

                                    <div id="collapseres2" class="collapse" aria-labelledby="headingres2"
                                        data-parent="#accordion3">
                                        <div class="card-body">
                                            <p>A PSL Learning Unit (PLU) is a low cost, high impact solution to make PSL
                                                Resources easily
                                                available and accessible in classrooms as well as informal settings
                                                nationwide to capacitate
                                                teachers, students, and families.</p>

                                            <p>Hardware: A Raspberry Pi minicomputer device with SD card and USB memory
                                                stick loaded with
                                                content is attached directly to a 22 inch LED monitor display. A
                                                keyboard and mouse are
                                                attached for utilization and navigation.</p>

                                            <p>All the above listed PSL resources are loaded on the PLU allowing for
                                                offline access, and
                                                the internet is not required for usage.</p>

                                            <p>Navigation of the PSL Learning Unit is designed to be as intuitive as
                                                possible. No prior
                                                computer knowledge is necessary to use.</p>

                                            <p>The Units are highly portable. They can be used in classrooms with up to
                                                30 students</p>

                                            <p class="mb-0">Hundreds of PSL Learning Units have been distributed in
                                                schools, clubs,
                                                libraries, universities and institutes nationwide that work with the
                                                Deaf community.</p>

                                        </div>
                                    </div>
                                </div>

                                <div class="card shadow-none line-height24">
                                    <div class="card-header" id="headingres3">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link collapsed" data-toggle="collapse"
                                                data-target="#collapseres3" aria-expanded="false"
                                                aria-controls="collapseres3">
                                                Who can I contact for corrections or suggestions regarding the PSL
                                                Resources?
                                            </button>
                                        </h5>
                                    </div>

                                    <div id="collapseres3" class="collapse" aria-labelledby="headingres3"
                                        data-parent="#accordion3">
                                        <div class="card-body">
                                            Please direct questions to <a
                                                href="mailto:info@fesf.org.pk">info@fesf.org.pk</a>. </div>
                                    </div>
                                </div>

                                <div class="card shadow-none line-height24">
                                    <div class="card-header" id="headingres4">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link collapsed" data-toggle="collapse"
                                                data-target="#collapseres4" aria-expanded="false"
                                                aria-controls="collapseres4">
                                                How can I apply for a PSL Learning Unit?
                                            </button>
                                        </h5>
                                    </div>

                                    <div id="collapseres4" class="collapse" aria-labelledby="headingres4"
                                        data-parent="#accordion3">
                                        <div class="card-body">
                                            <p class="mb-0">There are a limited number of PSL Learning Units available
                                                at this time. For
                                                queries, please contact <a
                                                    href="mailto:info@fesf.org.pk">info@fesf.org.pk</a>.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>


            </div>

        </div>


    </div>

</div>