<span [hidden]="isLoading">
<div class="sub-header align-items-center">
    <div class="container">
        <div class="sub-header-content">
            <h2>The Deaf<br>Reach Program</h2>
            <p>Deaf Reach Schools and Training Centers, a program of Family Educational Services Foundation
                (FESF)</p>
        </div>
    </div>
</div>

<div class="sub-page">

    <div class="container">
        <div class="row set-margin-sec">
            <div class="col-lg-6 col-md-12 d-flex align-items-center">
                <div>
                    <h2>Deaf Reach Schools, Colleges & Training Centers</h2>
                    <p>Deaf Reach Schools and Training Centers, a program of Family Educational Services
                        Foundation (FESF), envisions a future where education is a reality for all deaf children
                        in Pakistan. By investing in PSL learning resources, Deaf Reach is working to make
                        literacy, education and skills training accessible to deaf students, and to capacitate
                        teachers and families.</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-12"><img class="img-auto" src="../../../assets/images/deaf-reach-program-01.jpg" alt="">
            </div>
        </div>

        <div class="row md-reversse">
            <div class="col-lg-6 col-md-12"><img class="img-auto" src="../../../assets/images/deaf-reach-program-02.jpg" alt="">
            </div>
            <div class="col-lg-6 col-md-12 d-flex align-items-center">
                <div>
                    <ul class="list-style">
                        <li>Full scholarships, from KG through College, enable students to receive an education
                            that maximizes their potential.</li>
                        <li>Vocational Training equips deaf youth with marketable skills for employment.</li>
                        <li>Parent Training provides parents with the sign language and parenting skills needed
                            to support their deaf children.</li>
                        <li>Job Placement facilitates employment for young deaf adults.</li>
                        <li>Advocacy raises public awareness of Deaf culture, promoting inclusion and
                            empowerment.</li>
                        <li>Teacher Training builds capacity in local teachers of the Deaf. Over 50% of Deaf
                            Reach teaching staff are deaf.</li>
                        <li>Educational Resources boost language and literacy skills for the Deaf, giving access
                            to education, employment and services.</li>
                        <p>For more information, log on to <a href="http://www.deafreach.com"
                                target="_blank">http://www.deafreach.com</a> and visit Deaf Reach on Facebook at
                            <a href="https://www.facebook.com/deafreachprogram"
                                target="_blank">https://www.facebook.com/deafreachprogram</a>
                        </p>
                    </ul>
                </div>
            </div>

        </div>
    </div>

</div>
</span>

<div *ngIf="isLoading" class="loader-wrap">
    <div class="main-loader">
        <img src="/assets/images/loader.gif" alt="">
    </div>
</div>
