@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700;800&family=Roboto:wght@300;400;500;700;900&display=swap");
body {
	overflow-x: hidden;
	font-family: "Roboto", sans-serif;
	font-size: 14px;
	letter-spacing: 0.5px;
	background-color: #f6f6f6;
	color: #282828;
}
.no-scroll {
	overflow: hidden;
}
.btn,
.btn-primary {
	outline: 0 !important;
	font-family: "Poppins", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
h7,
h8 {
	font-family: "Poppins", sans-serif;
	letter-spacing: 1px;
	font-weight: 700;
}

.btn,
input,
textarea {
	outline: 0 !important;
	box-shadow: none !important;
}
.btn-language {
	text-align: right;
}
.btn-language .btn-outline-primary {
	font-size: 14px;
	padding: 4px 12px;
}
.btn-language .active {
	background-color: #009e4f !important;
	color: #fff !important;
}
.content-wrapper {
	position: relative;
	padding-bottom: 40px;
}
.content-wrapper .content-title {
	padding-top: 40px;
	padding-bottom: 15px;
}
.content-wrapper .content-title h2 {
	font-size: 24px;
	color: #282828;
}
.content-wrapper .content-title h2 span {
	color: #009e4f;
}
.breadcrumb {
	background-color: transparent;
	float: right;
	margin-bottom: 0;
	padding: 0;
	font-size: 14px;
}
.breadcrumb a,
.breadcrumb span {
	color: #212121;
}
.breadcrumb a {
	opacity: 0.5;
	transition: 0.3s ease;
}
.breadcrumb a:hover {
	opacity: 1;
	transition: 0.3s ease;
}
.breadcrumb > li + li::before {
	color: #009e4f;
	padding: 0 9px;
	font-weight: 600;
	content: "\f105";
	font-family: "Font Awesome 5 Free";
}
.custom-select {
	font-size: 14px;
	border: solid 1px #dee2e6;
}
.btn {
	font-size: 14px;
	letter-spacing: 1px;
	line-height: 1.5;
}
.form-control:focus,
.custom-select:focus {
	border-color: #009e4f;
	box-shadow: none;
}
#test:focus,
#test:active,
input:focus,
input:active,
.custom-control-input:focus ~ .custom-control-label::before,
button {
	outline: none !important;
	box-shadow: none !important;
}
.modal-title {
	font-size: 18px;
}
.modal-footer .btn {
	padding-left: 20px;
	padding-right: 20px;
	font-size: 16px;
}
.top-border {
	border-top: solid 2px #009e4f;
}
.modal-title i {
	color: #009e4f;
}

@media (max-width: 1024px) {
	.content-wrapper .content-title h2 {
		font-size: 22px;
	}
	.btn-language {
		margin-top: -4px;
	}
	.btn-language .btn-outline-primary {
		font-size: 13px;
	}
}

@media (max-width: 767px) {
	.btn-language .btn-outline-primary {
		font-size: 12.5px;
		padding: 3px 8px;
	}
	.modal-footer .btn {
		font-size: 14px;
	}
	.modal-title {
		font-size: 16px;
		letter-spacing: normal;
	}
}

/* ============================LIST CSS========================================== */

.leftside-list {
	background-color: #fff;
	padding: 15px;
	display: inline-block;
	width: 100%;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	box-shadow: 0 0 1.3rem 0 rgba(0, 0, 0, 0.1);
}
ng-scrollbar.leftside-overflow {
	overflow: hidden;
	height: calc(100vh - 260px) !important;
	max-height: calc(100vh - 260px);
}
.leftside-list h3 {
	font-size: 20px;
	display: block;
	color: #282828;
}
.leftside-list h3 span {
	color: #009e4f;
}
.filter-sort {
	margin-bottom: 20px;
}
.filter-sort .custom-select {
	font-size: 13px;
	max-width: 150px;
	float: right;
}
.filter-sort .search-filter {
	position: relative;
	max-width: 290px;
}
.search-filter input {
	border: 0.063rem solid #dee2e6;
	background-color: #fff;
	height: 2.125rem;
	border-radius: 0.313rem;
	box-shadow: none;
	font-size: 0.813rem;
	margin-bottom: 0;
}
.search-filter i {
	position: absolute;
	top: 10px;
	right: 10px;
	color: #b9b9b9;
}

.leftside-list ul {
	padding: 0;
	margin: 0;
}
.select-dictionary {
	margin-bottom: 15px;
}

.leftside-list ul li {
	list-style: none;
	border-bottom: solid 1px #e2e2e2a6;
	display: flex;
	padding: 0;
	width: calc(100% - 10px);
}
.leftside-list ul li a:before {
	color: #009e4f;
	padding: 0 12px 0 3px;
	font-weight: 600;
	content: "\f105";
	font-family: "Font Awesome 5 Free";
}
.cursor-pointer {
	cursor: pointer;
}
.d-none {
    display: none;
}

.leftside-list ul li a {
	color: #282828;
	font-size: 14px;
	display: inline;
	width: 100%;
	padding-top: 7px;
	padding-bottom: 7px;
}
.leftside-list ul li a:hover,
.leftside-list ul li .active {
	color: #009e4f;
	text-decoration: none;
	background-color: #f6f6f6;
}
.leftside-list ul li a span {
	background-image: url(../../assets/images/icon-comment.svg);
	background-repeat: no-repeat;
	background-position: center center;
	color: #282828;
	font-size: 12px;
	width: 35px;
	height: 22px;
	float: right;
	text-align: center;
	letter-spacing: normal;
	margin-right: 5px;
}
.leftside-list ul li a:hover span,
.leftside-list ul li .active span {
	background-image: url(../../assets/images/icon-comment-green.svg);
	color: #fff;
}
.title-green {
	font-size: 22px;
	color: #009e4f;
	margin-bottom: 15px;
}
.video-thumb {
	background-color: #fff;
	color: #282828;
	margin-bottom: 30px;
	display: inline-block;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.1);
	text-decoration: none;
	overflow: hidden;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.video-thumb .v-thumb-img {
	position: relative;
}
.video-thumb .v-thumb-img img {
	width: 100%;
}
.video-thumb h3 {
    font-size: 14px;
    font-weight: 400;
    padding: 0 10px;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    position: relative;
    line-height: 20px; 
    margin-bottom: 10px;
    margin-top: 10px;
	text-transform: capitalize;
}
.video-thumb:hover {
	text-decoration: none;
	color: #fff;
	background-color: #009e4f;
	box-shadow: 0 4px 7px 0 rgba(0, 158, 79, 0.5);
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.video-thumb .playBut svg {
	width: 50px;
	height: 50px;
	margin: auto;
}
.video-thumb .circle {
	stroke: #009e4f;
	stroke-dasharray: 650;
	stroke-dashoffset: 650;
	-webkit-transition: all 0.5s ease-in-out;
	opacity: 0.3;
}
.video-thumb .playBut {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	height: 100%;
	text-align: center;
	-webkit-transition: all 0.5s ease;
	display: flex;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.2);
}
.video-thumb .playBut .triangle {
	-webkit-transition: all 0.7s ease-in-out;
	stroke-dasharray: 240;
	stroke-dashoffset: 480;
	stroke: #fff;
	transform: translateY(0);
}
.video-thumb:hover .playBut .triangle {
	stroke-dashoffset: 0;
	opacity: 1;
	stroke: #009e4f;
	animation: nudge 0.7s ease-in-out;
}
.video-thumb:hover .playBut {
	background-color: rgba(0, 0, 0, 0.6);
}
@keyframes nudge {
	0% {
		transform: translateX(0);
	}
	30% {
		transform: translateX(-5px);
	}
	50% {
		transform: translateX(5px);
	}
	70% {
		transform: translateX(-2px);
	}
	100% {
		transform: translateX(0);
	}
}
.video-thumb:hover .playBut .circle {
	stroke-dashoffset: 0;
	opacity: 1;
}
.sign-card {
	background-color: #fff;
	color: #282828;
	position: relative;
	margin-bottom: 30px;
	display: inline-block;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.1);
	text-decoration: none;
	overflow: hidden;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
	padding: 20px 10px 10px 10px;
	width: 100%;
	text-align: center;
}
.sign-card img {
	width: 50px;
	height: auto;
	margin: 20px auto;
	display: block;
}
.sign-card span {
	position: absolute;
	top: 10px;
	right: 10px;
}

.sign-card h4 {
	font-size: 14px;
	font-weight: normal;
	margin: 0;
	letter-spacing: 0.4px;
	height: 35px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	line-height: 1.2;
	position: relative;
}

.sign-card:hover {
	text-decoration: none;
	color: #fff;
	background-color: #009e4f;
	box-shadow: 0 4px 7px 0 rgba(0, 158, 79, 0.5);
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.sign-card:hover img {
	filter: brightness(0) invert(1);
}
.sign-card span {
	background-image: url(../../assets/images/icon-comment.svg);
	background-repeat: no-repeat;
	background-position: center center;
	color: #282828;
	font-size: 12px;
	width: 35px;
	height: 22px;
	float: right;
	text-align: center;
	letter-spacing: normal;
	right: 10px;
	top: 10px;
	position: absolute;
}
.sign-card:hover span {
}
.sign-list .col-3 {
	ms-flex: 0 0 20%;
	flex: 0 0 20%;
	max-width: 20%;
}
.lesson-plan-list {
	border-bottom: solid 1px #dee2e6;
	font-size: 16px;
	padding: 10px 15px;
}
.lesson-plan-list .custom-radio span {
	float: right;
}
.contentnot-found {
    width: 100%; text-align: center; height: 60vh;
}
.contentnot-found h2 { font-size: 24px; }

@media (max-width: 1024px) {
	.video-thumb h3 {
		font-size: 13px;
		letter-spacing: normal;
	}
	.leftside-list h3 {
		font-size: 18px;
	}
	.sign-list .col-3 {
		ms-flex: 0 0 25%;
		flex: 0 0 25%;
		max-width: 25%;
	}
}
@media (max-width: 812px) {
	.alphabets-list {
		ms-flex: 0 0 25%;
		flex: 0 0 25%;
		max-width: 25%;
	}
	.sign-list {
		ms-flex: 0 0 75%;
		flex: 0 0 75%;
		max-width: 75%;
	}
	.sign-list .col-3 {
		ms-flex: 0 0 33.333%;
		flex: 0 0 33.333%;
		max-width: 33.333%;
	}
	.filter-sort .search-filter {
		max-width: 300px;
	}
	.title-green {
		font-size: 18px;
	}
}

@media (max-width: 767px) {
	.contentnot-found h2{ font-size: 20px; }
	.sign-list,
	.alphabets-list {
		ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
	.sign-list .col-3 {
		ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
	}
	.sign-card img {
		width: 40px;
		margin: 15px auto;
	}
	.lesson-plan-list {
		font-size: 14px;
		padding: 8px 15px;
		line-height: 1.8;
	}
}

@media (max-width: 425px) {
	.select-dictionary {
		margin-bottom: 20px;
	}
	.video-thumb h3 {
		font-size: 12px;
	}
}

@media (max-width: 375px) {
	.sign-card img {
		width: 35px;
	}
	.sign-card h4 {
		font-size: 13px;
	}
}
@media (max-width: 375px) {
	.sign-card img {
		width: 30px;
	}
	.sign-card h4 {
		font-size: 12px;
	}
}
