.nextvds{display: none}
.text-link{color: #7a7a7a; font-family: 'Poppins', sans-serif;}
.text-link i{color: #009e4f; margin-right:10px;}
.text-link:hover{color: #009e4f;}
.video-page{padding-top: 40px;}
.video-page .content-title{font-size:22px; padding-top: 15px!important;}
.v-title-action{padding-top: 15px;}
.v-title{font-size: 22px!important;}
.v-title-action .content-title{ padding-top: 0!important; padding-bottom: 0!important}
.v-title-action .content-title h2{ margin:0; margin-bottom: 15px; font-size: 20px!important;}
.v-title-action .border-top{border-top: solid 1px #e4e4e4; padding-top: 15px;}
.v-title-action .btn{margin-top: -4px}
.v-title-action .btn i{margin-right: 5px;}
.video-page h4{font-size: 18px; margin:0; color: #009e4f; font-weight: normal}
.video-page h4 span{color: #282828;}
.custom-switch .custom-control-label::before {
    width: 40px;
    border-radius: 16px;
    height: 16px;
}
.custom-switch .custom-control-label::after {
    top: 2px;
    width: 20px;
    height: 20px;
	border-radius: 20px; border: solid 1px #d4d4d4;
}
.custom-switch .custom-control-label::after{background-color: #bbb9b9;}
.custom-switch .custom-control-input:checked~.custom-control-label::after {
    background-color: #fff;
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
}
.custom-switch .custom-control-label::before {
    background-color: #dbdbdb;
    border:none;
}
.custom-switch .custom-control-label{font-size: 12px;}
.custom-switch {
    padding-left: 0;
	font-family: 'Poppins', sans-serif;
    min-width: 120px; 
    font-size: 14px; float: right; margin-right: 10px;
}
.custom-switch span{float: left; line-height: 1.8;}  

.r-video-list{
    background-color: #fff;
    padding: 15px;
    display: inline-block;
    width: 100%; 
	border-radius: 6px;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
    box-shadow: 0 0 1.3rem 0 rgba(0,0,0,.1);
	height: 632px; overflow-y: scroll;
}

.r-video-list .video-thumb{
	box-shadow: none; background-color: transparent; margin-bottom: 0;
}
.r-video-list .video-thumb:hover{
	box-shadow: none;  background-color: transparent; color: #009e4f;
}
.r-video-list .video-thumb img, .r-video-list .video-thumb .playBut{
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
}
.r-video-list .video-thumb h3{padding: 5px 0px 5px 0px; line-height: normal}
@media (max-width:1024px) {
.r-video-list{height: 560px}
.text-link{font-size: 13px}
.custom-switch span{font-size: 13px; line-height: 1.7;} 
.video-page h4{font-size: 16px}
	.v-title-action .content-title h2{font-size: 18px!important;}
.video-page .content-title{font-size:20px!important;}
.v-title{font-size: 20px!important;}
}

@media (max-width:812px) {
.pl-sm{padding-left: 0}
.r-video-list{height: 456px}
.v-title{font-size: 18px!important;}
.video-page h4 {font-size: 14px;}
.r-video-list .video-thumb h3{font-size: 13px;}
.v-title-action .content-title h2{margin-bottom: 5px}
}

@media (max-width:767px) {
    
.nextvds{display: block; margin-bottom: 10px; font-size: 16px;}
.text-link{letter-spacing: normal}
.v-title, .v-title-action .content-title h2{letter-spacing: 0.5px; font-size: 16px!important;}
.v-title{margin-bottom: 5px;}
.video-page .content-title{padding-bottom:8px;}
.v-title-action{padding-bottom: 30px}
.v-title-action .btn{font-size: 13px; letter-spacing:normal}
.r-video-list{height:auto}
.r-video-list .video-thumb {
    float: left;
    width: 48%;
    margin-right: 1%;
    margin-left: 1%;}
}

@media (max-width:425px) {
.r-video-list .video-thumb {
    float:none;
    width: 100%;
    margin-right:0;
    margin-left: 0;}
.v-title-action .btn {font-size: 12.5px;}
.v-title, .v-title-action .content-title h2{font-size: 15px!important;}
.nextvds{font-size: 15px;}
}
@media (max-width:375px) {
.xsm-w{width: 100%; text-align: center!important; padding: 0px}
.xsm-w .btn-primary{ margin-bottom: 10px;}
.v-title-action {padding-bottom: 20px;}
}